{% extends "layout.njk" %}

{% block content %}
    <section class="banner margin-page">
        <div class="text">
            <hgroup>
                <h1>As melhores receitas</h1>
            </hgroup>
            <p>
                Aprenda a construir os melhores pratos com receitas criadas por profissinais do mundo inteiro.
            </p>
        </div>
        <img class="image" src="/imgs/chef.png" alt="Cozinheiro Chef"/>
    </section>
    <main class="main-content margin-page">
        <hgroup>
            <h1>Mais acessadas</h1>
        </hgroup>
        <section class="cards">
            {% for i in range(0, 5) -%}
                <div class="food-item">
                    <img class="image" src="{{item[i].image}}"/>
                    <hgroup>
                        <h1 class="name">{{item[i].title}}</h1>
                    </hgroup>
                    <p class="chef">{{item[i].author}}</p>
                </div>
            {%- endfor %}
        </section>
    </main>

    <script src="/js/scripts.js"></script>
{% endblock %}