{% extends "layout.njk" %}

{% block content %}
    <html>
        <main class="main-content margin-page">
            <section class="cards">
                <div class="food-item">
                    <img class="image" src="./assets/imgs/burger.png"/>
                    <hgroup>
                        <h1 class="name">Triplo bacon burger</h1>
                    </hgroup>
                    <p class="chef">por Jorge Relato
                    </p>
                </div>

                <div class="food-item">
                    <img class="image" src="./assets/imgs/pizza.png"/>
                    <hgroup>
                        <h1 class="name">Pizza 4 estações</h1>
                    </hgroup>
                    <p class="chef">
                        por Fabiana Melo
                    </p>
                </div>

                <div class="food-item">
                    <img class="image" src="./assets/imgs/espaguete.png"/>
                    <hgroup>
                        <h1 class="name">Espaguete ao alho</h1>
                    </hgroup>
                    <p class="chef">
                        por Júlia Kinoto
                    </p>
                </div>

                <div class="food-item">
                    <img class="image" src="./assets/imgs/lasanha.png"/>
                    <hgroup>
                        <h1 class="name">Lasanha mac'n cheese</h1>
                    </hgroup>
                    <p class="chef">por Juliano Vieira
                    </p>
                </div>

                <div class="food-item">
                    <img class="image" src="./assets/imgs/doce.png"/>
                    <hgroup>
                        <h1 class="name">Docinhos pão-do-céu</h1>
                    </hgroup>
                    <p class="chef">por Ricardo Golvea
                    </p>
                </div>

                <div class="food-item">
                    <img class="image" src="./assets/imgs/asinhas.png"/>
                    <hgroup>
                        <h1 class="name">Asinhas de frango ao barbecue</h1>
                    </hgroup>
                    <p class="chef">por Vania Steroski
                    </p>
                </div>

                <div class="food-item">
                    <img class="image" src="./assets/imgs/burger.png"/>
                    <hgroup>
                        <h1 class="name">Triplo bacon burger</h1>
                    </hgroup>
                    <p class="chef">por Jorge Relato
                    </p>
                </div>

                <div class="food-item">
                    <img class="image" src="./assets/imgs/pizza.png"/>
                    <hgroup>
                        <h1 class="name">Pizza 4 estações</h1>
                    </hgroup>
                    <p class="chef">
                        por Fabiana Melo
                    </p>
                </div>

                <div class="food-item">
                    <img class="image" src="./assets/imgs/espaguete.png"/>
                    <hgroup>
                        <h1 class="name">Espaguete ao alho</h1>
                    </hgroup>
                    <p class="chef">
                        por Júlia Kinoto
                    </p>
                </div>

                <div class="food-item">
                    <img class="image" src="./assets/imgs/lasanha.png"/>
                    <hgroup>
                        <h1 class="name">Lasanha mac'n cheese</h1>
                    </hgroup>
                    <p class="chef">por Juliano Vieira
                    </p>
                </div>

                <div class="food-item">
                    <img class="image" src="./assets/imgs/doce.png"/>
                    <hgroup>
                        <h1 class="name">Docinhos pão-do-céu</h1>
                    </hgroup>
                    <p class="chef">por Ricardo Golvea
                    </p>
                </div>

                <div class="food-item">
                    <img class="image" src="./assets/imgs/asinhas.png"/>
                    <hgroup>
                        <h1 class="name">Asinhas de frango ao barbecue</h1>
                    </hgroup>
                    <p class="chef">por Vania Steroski
                    </p>
                </div>
            </section>
        </main>
    {% endblock %}